#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #A8B788 0%, #F7F3EF 100%);
  }
